<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Employees</title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h1>List if Employees</h1>

<table>
	<caption>Employees</caption>
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Position</th>
			<th>Salary</th>
			<th>HiringDate</th>
		</tr>
	</thead>	
	<tbody>
		<tr th:each="employee : ${employees}">
			<td th:text="${employee.employeeId}">Id</td>
			<td th:text="${employee.name}">Name</td>
			<td th:text="${employee.position}">Position</td>
			<td th:text="${employee.salary}">Salary</td>
			<td th:text="${employee.hiringDate}">Hiring date</td>
			<td>
				<a th:href="@{/employees/delete/{id}(id=${employee.employeeId})}">Töröl</a>
			</td>
		</tr>
	</tbody>
</table>

</br>

<form th:action="@{/employees}" method="POST" th:object="${newEmployee}">
	<label for="id">Id:</label>
	<input th:field="*{employeeId}" id="id" /> </br>
	<label for="name">Name:</label>
	<input th:field="*{name}" id="name" /></br>
	<label for="position">Position:</label>
	<input th:field="*{position}" id="position" /></br>
	<label for="salary">Salary:</label>
	<input th:field="*{salary}" id="salary" /></br>
	<label for="hiringDate">Hiring date:</label>
	<input th:field="*{hiringDate}" id="hiringDate" /></br>
	<input type="submit" value="Add" />
</form>


</body>
</html>